body{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    animation-name: backgroundColorPalette;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   /* background-image: linear-gradient(to right bottom, #f4006a, #f32261, #f1345a, #ee4153, #eb4d4d);*/
  }
  
  .container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434
  }
  
  .container h1{
    font-size: 200px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  
  }
  
  h2{
    font-size:40px;
    color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 1px 0 #bbb,
                 0 1px 0 #b9b9b9,
                 0 1px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.0),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.20);
  }
  p{
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 1px 0 #bbb,
                0 1px 0 #b9b9b9,
                0 1px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.0),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.20);
  }
  .container a{
    text-decoration: none;
    background: #fff;
    color: #262626;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;font-weight: bold;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  
  .container a:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }


  @keyframes backgroundColorPalette {
    0% {
      background: #ee6055;
    }
    25% {
      background: #60d394;
    }
    50% {
      background: #aaf683;
    }
    75% {
      background: #ffd97d;
    }
    100% {
      background: #ff9b85;
    }
  }